/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 févr. 2017, 15:28:12
    Author     : admin
*/

/*---------------------------------------------------
------------------------ACCUEIL----------------------
-----------------------------------------------------

--------------------------GENERAL-------------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 180px;
}

/*-----------------------HEADER------------------------*/

header {
    height: 150px;
    padding: 20px;
    text-align: right;
    font-family: 'Amatic SC', cursive;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 20px;
}

header h3 {
    margin-top: 0px;
}

.lettre-rouge {
    color: salmon;
}

.lettre-bleu {
    color: #61C0DB
}

.lettre-orange {
    color: orange;
}

/*-----------------MENU DE NAVIGATION------------------*/



.navbar li {
    border-left: solid 1px lightgray;
    
}

.navbar-default {
    background-image: none;
    background-color: white;
    box-shadow: none;
    border-bottom: none;
}

.navbar {
    margin-bottom: 0px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

#barre-nav {
    font-size: 1.5em;
}

.navbar-brand {
    font-size: 2em;
}

.rouge {
    border-top: solid 3px salmon;
}

.bleu {
    border-top: solid 3px #61C0DB;
}

.orange {
    border-top: solid 3px orange;
}

.fin-nav {
    border-right: solid 1px lightgray;
}

.dropdown-menu {
    font-size: 18px;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       text-align: center;
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}


/*-------------GRID D'IMAGES ET DE TEXTE------------------*/


.ligne-bleu {
    background-color: #61C0DB;
}
.ligne-rouge {
    background-color: salmon;
}
.ligne-orange {
    background-color: orange;
}

.texte {
    text-align: justify;
    padding: 10% 2% 2% 2%;
    color: white;
}

.left {
    float: left;
    width: 50%;
    position: relative;
}
.right {
    float: right;
    width: 50%;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
.ligne:after {
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 700px) {
    .left, .right {
        float: none;
        width: auto;
    }
}


/*-------------------FOOTER-------------------*/

footer {
    position: absolute;
    height: 180px;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

footer h1 {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

/*----------------------------------------------------
--------------------CONNEXION-------------------------
------------------------------------------------------*/

#formConnexion {
    width: 200px;
    margin:auto;
    padding: 20px;
}

#err_connexion {
    width: 250px;
    margin:auto;
    padding: 20px;
}

#connexion {
    text-align: center;
}

#connexion h1 {
    font-family: 'Amatic SC', cursive;
}

.bouton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:salmon;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.bouton:hover {
	background-color:#eb675e;
}
.bouton:active {
	position:relative;
	top:1px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formConnexion label {
    font-weight: normal;
}

/*------------------------------------------------
----------------------EDIT------------------------
-------------------------------------------------*/

.edit {
    float: right;
    cursor:pointer;
    position: absolute;
    top:3px;
    right: 3px;
}

.ajout {
    margin-left: 10%;
    margin-top: 20px;
    cursor:pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 450px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#footer_tel {
    position: relative;
    float: none;
    top: -3px;
    right: -3px;
}


/*----------------------------------------
----------------CONSEILS------------------
----------------------------------------*/

table {
    border: solid 1px gray;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container_conseils {
    padding-bottom: 15px;
}